p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.definition {
  padding: 1em;
  margin-bottom: 10px;
  background: #82B3F0;
}
